body{
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 19px;
    margin-left: 0px;
    
}
.logo {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin-left: 20px;
}

.sub-heading {
    font-size: 40px;
    margin-top: 90px;
}
.subtext {
    font-size: 15px;
    font-weight: 100;
}
#sign {
    background-color: blueviolet;
    width: 80px;
    padding: 4px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: opx;
}

a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    flex:1;
}

.links {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 0px;
}

.img_placeholder1 {
    width: 400px;
    height: 200px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    margin-top: 90px;
    margin-right: 120px;
    color: white;
    text-align: center;
}

.placeholder_text1 {
    margin-top: 90px;
}

.body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.title {
    font-size: 30px;
    font-weight: bolder;    
}

.content {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 40px;
}

#one {
    width: 160px;
    height: 160px;
    border: 3px solid blue;
    border-radius: 14px;
}
#t1 {
    text-align: center;
}

#two {
    width: 160px;
    height: 160px;
    border: 3px solid blue;
    border-radius: 14px;
}
#t2 {
    text-align: center;
}

#three {
    width: 160px;
    height: 160px;
    border: 3px solid blue;
    border-radius: 14px;
}
#t3 {
    text-align: center;
}

#four {
    width: 160px;
    height: 160px;
    border: 3px solid blue;
    border-radius: 14px;
}
#t4 {
    text-align: center;
}